{% extends "base.html" %}
{% block title %}Actions{% endblock %}
{% block content %}
    <div class="row">
        <div class="1u 6u(3)">
            <h3>Actions</h3>
        </div>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
    <tr>
        {% if equip is True %}
        <td>
            <a href="/equip/list" class="button small">Inventory</a>
        </td>
        <td>
            Equipment department
        </td>
        {% endif %}
    </tr>

    <tr>
        {% if people is True %}
        <td>
            <a href="/people" class="button small">Employees</a>
        </td>
        <td>
            Human resources department
        </td>
        {% endif %}
    </tr>
            </tbody>
        </table>
    </div>
{% endblock %}