{% extends "base.html" %}
{% block title %}Inventory{% endblock %}
{% block content %}
    <div class="row">
        <div class="1u 6u(3)">
            <h3>Inventory</h3>
        </div>
        <div class="6u 12u(3)">
            <div class="4u 8u(2) 12u$(3)">
                <ul class="actions vertical">
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Count free</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
    {% for item in equips %}
    <tr>
        <td>{{ item.model}}</td>
        <td>{{ item.count}}</td>
        <td>{{ item.count_free}}</td>
        {% if is_equip_manager %}
            <td>
                <a href="/equip/remove/{{ item.id }}" class="button small">Decrement</a>
            </td>
            <td>
                <a href="/equip/inc/{{ item.id }}" class="button small">Increment</a>
            </td>
            <td>
                <a href="/equip/give/{{ item.id }}" class="button small">Give</a>
            </td>
        {% else %}
            <td></td>
            <td></td>
            <td></td>
        {% endif %}

    </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_equip_manager %}
        <a href="/equip/create" class="button small">Add equipment</a>
    {% endif %}
{% endblock %}