{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{  form.as_p }}
        <p></p>
        <input type="submit" value="Add" class="special" />
    </form>
{% endblock %}