{% extends "base.html" %}
{% block title %}People{% endblock %}
{% block content %}
    <div class="row">
        <div class="1u 6u(3)">
            <h3>People</h3>
        </div>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last Name</th>
                <th>Position</th>
                <th>Is active</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for person in people %}
    <tr>
        <td>{{ person.username }}</td>
        <td>{{ person.first_name }}</td>
        <td>{{ person.second_name }}</td>
        <td>{{ person.position }}</td>
        <td>
        {% if person.date_fired is not None %}
            fired
        {% else %}
            active
        {% endif %}
        </td>
        <td>
            <a href="/person/dissmiss/{{ person.id }}" class="button small">Fire</a>
            <a href="/profile/{{ person.id }}" class="button small">Profile</a>
        </td>
    </tr>
            {% endfor %}

            </tbody>
        </table>
    {% if is_create %}
        <a href="/person/create_user" class="button small">Create user</a>
    {% endif %}
    </div>
{% endblock %}