{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
    <div class="row">
       <div class="2u 12u(3)">
           <h3>
                <a href="#task">Person info</a>
           </h3>
       </div>
       <div class="2u 12u(3)">
           <h3>
               <a href="#history">History</a>
           </h3>
       </div>
        <div class="2u 12u(3)">
           <h3>
               <a href="#equip">Equipment</a>
           </h3>
       </div>
    </div>
    <hr/>
        <section id="task" class="wrapper">
         <h4>Information</h4>
            <form method="POST">
            {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                {% endfor %}
                    <p></p>
                {% endfor %}
                {% if is_update_profile  %}
                    <input type="submit" value="Save" class="special" />
                {% endif %}
            </form>

        </section>

        <section id="equip" class="wrapper">
            <h4>Equipment</h4>
            <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Reason</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for eq in equip %}
                       <tr>
                           <td>{{ eq.name }}</td>
                           <td>{{ eq.date_given }}</td>
                           <td>{{ eq.reason }}</td>
                           <td>
                               {% if is_change_equip  %}
                                   <a href="/equip/return/{{ eq.id }}" class="button small">Return</a>
                               {% endif %}
                           </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
            </div>
        </section>

        <section id="history" class="wrapper">
            <h4>History</h4>
            <div class="table-wrapper">
                    <table>
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Record</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for record in history %}
                       <tr>
                        <td>{{ record.time }}</td>
                        <td>{{ record.record }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
            </div>
        </section>

   </div>

{% endblock %}