<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BAC{% endblock %}</title>
        <!--[if lte IE 8]><script src="{% static "js/html5shiv.js" %}"></script><![endif]-->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-layers.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/init.js" %}"></script>
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />


		<noscript>
			<link rel="stylesheet" href="{% static "css/skel.css" %}" />
			<link rel="stylesheet" href="{% static "css/style.css" %}" />
			<link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />
		</noscript>
    </head>
<body>
        <!-- Header -->
        <header id="header">
            <h1><a href="{% url 'home_page' %}">Business Accounting System</a></h1>
            <nav id="nav">
                <ul>
                    {% if boss_id is not None %}
                        <li><a href="/profile/{{ boss_id }}">Boss profile</a></li>
                    {% endif %}
                    <li><a href="/profile/{{ user_id }}">My profile</a></li>
                    <li><a href="{% url 'actions' %}">Activities</a></li>

                    {% block user_status_change %}
                        {% if is_login %}
                            <li><a href="/login.html" class="button special">Sign in</a></li>
                        {% else %}
                            <li><a href="/logout.html" class="button special">Sign out</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </nav>
        </header>

        {% block base_content %}{% endblock %}
</body>
</html>